h1{
  color: black;font-family: 'Pacifico', cursive; font-size: 50px; font-weight: 100; line-height: 50px; padding: 0 0 0 40px;
}

.list
{
  display: table;
  margin: auto;
}
.list-group-item
{
  width: 25rem;
}
.version
{
  color: #d54d7b; font-family: "italic"; font-size: 20px;
  top: 30;
  width: 100%;; text-align: right;
}
.user
{
  margin: 5px;
}

.circle{
  height:15px;
  width:15px;
  border:1.5px solid black;
  border-radius: 15px;
  margin-bottom:-4px;
}
.red{
  background-color:red;
}
.green{
  background-color:green;
}
.grey{
  background-color: grey;
}
.circle_inline{
display: inline-block;
}
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  position: fixed;
}
.custom-select{
  width: 50%;
}
label{
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1rem;
}
.all{
  background: #61b361;
  height: -webkit-fill-available
}
