<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ appTitle }}
  </h1>
  <img width="100" alt="virtualizationLogo" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Virtualbox_logo.png">
</div>
<div class="version">
    <label>{{version}}</label>
  </div>
<div class="list">
  <ul id ="win7list">
    <li>
          <img width="50" alt="win7Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG37.png">
          <label>Windows7 Port:8000</label>
          <label>&nbsp;</label>
          <select [(ngModel)]="userArray[0]" (change)= "selected()">
            <option *ngFor="let item of users" [ngValue]="item">{{item.viewValue}}</option>
          </select>
    </li>
    <li>
            <img width="50" alt="win7Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG37.png">
            <label>Windows7 Port:8001</label>
            <label>&nbsp;</label>
            <select [(ngModel)]="userArray[1]" (change)= "selected()">
              <option *ngFor="let item of users" [ngValue]="item">{{item.viewValue}}</option>
            </select>
    </li>
    <li>
            <img width="50" alt="win7Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG37.png">
            <label>Windows7 Port:8002</label>
            <label>&nbsp;</label>
            <select [(ngModel)]="userArray[2]" (change)= "selected()">
              <option *ngFor="let item of users" [ngValue]="item">{{item.viewValue}}</option>
            </select>
    </li>
  </ul>
</div>
<div class="list">
  <ul id ="win10list">
    <li>
            <label>&nbsp;</label><label>&nbsp;</label>
            <img width="30" alt="win10Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG23.png">
            <label>&nbsp;</label><label>&nbsp;</label><label>&nbsp;</label>
            <label>Windows10 Port:5030</label>
            <label>&nbsp;</label>
            <select [(ngModel)]="userArray[3]" (change)= "selected()">
              <option *ngFor="let item of users" [ngValue]="item">{{item.viewValue}}</option>
            </select>
    </li>
    <li>
        <label>&nbsp;</label><label>&nbsp;</label>
        <img width="30" alt="win10Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG23.png">
        <label>&nbsp;</label><label>&nbsp;</label><label>&nbsp;</label>
        <label>Windows10 Port:5031</label>
        <label>&nbsp;</label>
        <select [(ngModel)]="userArray[4]" (change)= "selected()">
          <option *ngFor="let item of users" [ngValue]="item" >{{item.viewValue}}</option>
        </select>
    </li>
    <li>
        <label>&nbsp;</label><label>&nbsp;</label>
        <img width="30" alt="win10Logo" src="http://pngimg.com/uploads/windows_logos/windows_logos_PNG23.png">
        <label>&nbsp;</label><label>&nbsp;</label><label>&nbsp;</label>
        <label>Windows10 Port:5032</label>
        <label>&nbsp;</label>
        <select [(ngModel)]="userArray[5]" (change)= "selected()">
          <option *ngFor="let item of users" [ngValue]="item">{{item.viewValue}}</option>
        </select>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
