.list
{
  display: table;
  margin: auto;

}
#win10List
{
  display: inline;
  list-style: inside;
}
li
{
  margin: 5px;
}
.version
{
  color:grey;
  margin: 5px;
  padding-right: 50px;
  text-align: right;
}
.user
{
  margin: 5px;
}

.circle{
  height:15px;
  width:15px;
  border:1.5px solid black;
  border-radius: 15px;
  margin-bottom:-4px;
}
.red{
  background-color:red;
}
.green{
  background-color:green;
}
.grey{
  background-color: grey;
}
.circle_inline{
display: inline-block;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}
